[user]
	name = Miles Smith
	email = miles-smith@users.noreply.github.com
	signingKey = 88C14BE9AFA4B507
[core]
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[push]
  autoSetupRemote = true
[commit]
	gpgSign = true
